<div class="flex flex-col">
    <p class="flex">ID: {{product._id}}</p>
    <p class="flex">Title: {{product.title}}</p>
    <p class="flex">Description: {{product.description}}</p>
    <p class="flex">Code: {{product.code}}</p>
    <p class="flex">Price: {{product.price}}</p>
    <p class="flex">Stock: {{product.stock}}</p>
    <p class="flex">Category: {{product.category}}</p>
    <p class="flex">Status: {{product.status}}</p>
    <p class="flex">Thumbnail: {{product.thumbnail}}</p>
    {{!-- Pendiente hasta definir el carro. --}}
    <form action="/carts/{{cartId}}/products/{{product._id}}" method="POST">
        <button type="submit">Agregar al carrito</button>
    </form>
</div>