<div class="flex flex-col">
    <h1>Products paginated</h1>
    {{#if admin}}
    <p>{{admin.rol}} - {{admin.email}}</p>
    {{else}}
    <p>Bienvenido/a {{user.rol}} {{user.name}}, {{user.email}}, de {{user.age}} años de edad.</p>
    {{/if}}
    <ul class="flex flex-col">
        {{#each products.payload}}
        <a href="/product/{{_id}}">
            <li
                class="grid grid-cols-9 overflow-x-hidden items-center rounded-md bg-red-50 px-2 py-1 text-xs font-medium text-red-700 ring-1 ring-inset ring-red-600/10">
                <p class="flex">Product ID: {{_id}}</p>
                <p class="flex">Title: {{title}}</p>
                <p class="flex">Description: {{description}}</p>
                <p class="flex">Code: {{code}}</p>
                <p class="flex">Price: {{price}}</p>
                <p class="flex">Stock: {{stock}}</p>
                <p class="flex">Category: {{category}}</p>
                <p class="flex">Status: {{status}}</p>
                <p class="flex">Thumbnail: {{thumbnail}}</p>
            </li>
        </a>
        {{!-- Pendiente hasta definir el carro. --}}
        <form action="/carts/{{cartId}}/products/{{_id}}" method="POST">
            <button type="submit">Agregar al carrito</button>
        </form>
        {{/each}}
    </ul>
    <div>
        {{#if products.hasPrevPage}}
        <a href={{products.prevLink}}><- Anterior</a>
                {{/if}}

                {{products.page}}

                {{#if products.hasNextPage}}
                <a href={{products.nextLink}}>Siguiente -></a>
                {{/if}}
    </div>

    <div class="flex flex-col">
        <form id="logoutForm">
            <input class="bg-red-400" type="submit" value="Logout">
        </form>
    </div>
</div>


<script src="/js/products.js"></script>